<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.security.account.mapper.UserDetailMapper">

    <resultMap id="authMap" type="org.scoula.security.account.domain.AuthVO">
        <result property="userId" column="user_id" />
        <result property="auth" column="auth" />
    </resultMap>

    <resultMap id="userMap" type="org.scoula.user.domain.UserVO">
        <id property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="birthDate" column="birth_date" />
        <result property="phoneNumber" column="phone_number" />
        <result property="pinPassword" column="pin_password" />
        <result property="userStatus" column="user_status" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="withdrawnAt" column="withdrawn_at" />
        <collection property="authList" resultMap="authMap" />
    </resultMap>

    <select id="get" resultMap="userMap">
        SELECT
            u.user_id,
            u.user_name,
            u.birth_date,
            u.phone_number,
            u.pin_password,
            u.user_status,
            u.created_at,
            u.updated_at,
            u.withdrawn_at,
            a.auth
        FROM user_tbl u
                 LEFT OUTER JOIN user_auth_tbl a
                                 ON u.user_id = a.user_id
        WHERE u.phone_number = #{username}
    </select>

    <select id="get2" resultType="org.scoula.user.domain.UserVO">
        SELECT
            user_id,
            user_name,
            birth_date,
            phone_number,
            pin_password,
            user_status,
            created_at,
            updated_at,
            withdrawn_at
        FROM user_tbl
        WHERE phone_number = #{username}
    </select>

    <select id="getAuthList" resultType="org.scoula.security.account.domain.AuthVO">
        SELECT user_id, auth
        FROM user_auth_tbl
        WHERE user_id = #{userId}
    </select>

</mapper>