<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.remittance.mapper.RemittanceMapper">

    <!-- 내 지갑 잔액 차감 (UPDATE문) -->
    <update id="subtractBalance">
        UPDATE wallet_tbl
        SET balance = balance - #{amount}
        WHERE wallet_id = #{walletId} AND balance >= #{amount}
    </update>

    <!-- 상대방 지갑 잔액 증가 (UPDATE문) -->
    <update id="addBalance">
        UPDATE wallet_tbl
        SET balance = balance + #{amount}
        WHERE wallet_id = #{walletId}
    </update>

    <!-- 계좌 잔액 증가 (UPDATE문) -->
    <update id="addAccountBalance">
        UPDATE account_dummy_tbl
        SET balance = balance + #{amount}
        WHERE bank_code = #{bankCode} AND account_number = #{accountNumber}
    </update>

    <!-- 거래 내역 저장 (PK 번호를 DTO로 자동 받아옴) -->
    <insert id="insertRemittance" useGeneratedKeys="true" keyProperty="transactionId">
        INSERT INTO financial_transaction_tbl (user_id, transaction_type, source_type, target_type, transaction_status, amount)
        VALUES (#{walletId}, 'TRANSFER', 'WALLET', 'WALLET', 'SUCCESS', #{amount})
    </insert>

    <!-- 영수증 메모 저장 -->
    <insert id="insertReceiptMemo">
        INSERT INTO receipt_memo_tbl (transaction_id, memo_content)
        VALUES (#{transactionId}, #{memo})
    </insert>

</mapper>