# Gradle
backend/.gradle/
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/
backend/.kotlin

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
backend/out/
frontend/out/

# Eclipse / STS
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache
backend/bin/
!backend/**/src/main/**/bin/
!backend/**/src/test/**/bin/

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/nbdist/
backend/.nb-gradle/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Log Files
*.log
logs/

# Environment Variables
.env
.env.*

# Spring Secret Files
backend/src/main/resources/secret.properties
**/secret.properties
backend/src/main/resources/application-local.properties
backend/src/main/resources/application-secret.properties

# Upload Files
uploads/
uploads/**
upload/
temp/

# Vue / Vite
frontend/node_modules/
frontend/dist/

# Vue Build Output (Spring WebApp)
backend/src/main/webapp/resources/assets/
backend/src/main/webapp/resources/index.html