<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.comment.mapper.CommentMapper">

    <resultMap id="writerProfileMap"
               type="org.scoula.feed.domain.ProfileSimpleVO">
        <id column="writer_profile_id"
            property="profileId"/>
        <result column="writer_nickname"
                property="nickname"/>
        <result column="writer_profile_image"
                property="profileImageName"/>
    </resultMap>

    <resultMap id="commentMap" type="org.scoula.comment.domain.CommentVO">
        <id column="comment_id" property="commentId"/>
        <result column="feed_id" property="feedId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <association property="writer" resultMap="writerProfileMap"/>
    </resultMap>


    <insert id="create" useGeneratedKeys="true" keyProperty="commentId">
        insert feed_comment_tbl(feed_id, user_id, content) values (#{feedId}, #{userId}, #{content});
    </insert>

    <update id="update">
        update kbproject.feed_comment_tbl set content = #{content}, updated_at = now() where  comment_id = #{commentId};
    </update>

    <delete id="delete">
        delete from feed_comment_tbl where comment_id = #{commentId};
    </delete>

    <select id="get" resultMap="commentMap">
        select
            a.comment_id,
            a.feed_id,
            a.user_id,
            a.content,
            a.created_at,
            a.updated_at,

            b.profile_id AS writer_profile_id,
            b.nickname AS writer_nickname,
            b.stored_name AS writer_profile_image

        from feed_comment_tbl a
            left join profile_tbl b on  a.user_id = b.user_id
        where comment_id = #{commentId}
        ORDER by a.created_at desc;
    </select>

    <select id="getList" resultMap="commentMap">
        select
            a.comment_id,
            a.feed_id,
            a.user_id,
            a.content,
            a.created_at,
            a.updated_at,

            b.profile_id AS writer_profile_id,
            b.nickname AS writer_nickname,
            b.stored_name AS writer_profile_image

        from feed_comment_tbl a
                 left join profile_tbl b
                     on  a.user_id = b.user_id
        where feed_id = #{feedId}
        ORDER by a.created_at desc;
    </select>

</mapper>