<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.feed.mapper.FeedMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="feedId">
        insert into feed_tbl(user_id , target_id, feed_type, content,visibility)
        values (#{userId}, #{targetId},#{feedType},#{content},#{visibility})
    </insert>


    <update id="update">

        update feed_tbl set
                            visibility = #{visibility},
                             content = #{content},
                             updated_at = now()
        where feed_id = #{feedId};

    </update>

    <resultMap id="transactionMap"
               type="org.scoula.feed.domain.TransactionVO">
        <id column="transaction_id"
            property="transactionId"/>
        <result column="receive_id"
                property="receiveId"/>
        <result column="spending_category_id"
                property="spendingCategoryId"/>
        <result column="transaction_type"
                property="transactionType"/>
        <association property="receiver" resultMap="receiverProfileMap"/>
        <association property="category" resultMap="categoryMap"/>
    </resultMap>

    <resultMap id="senderProfileMap"
               type="org.scoula.feed.domain.ProfileSimpleVO">
        <id column="sender_profile_id"
            property="profileId"/>
        <result column="sender_nickname"
                property="nickname"/>
        <result column="sender_profile_image"
                property="profileImageName"/>
    </resultMap>
    <resultMap id="receiverProfileMap"
               type="org.scoula.feed.domain.ProfileSimpleVO">
        <id column="receiver_profile_id"
            property="profileId"/>
        <result column="receiver_nickname"
                property="nickname"/>
        <result column="receiver_profile_image"
                property="profileImageName"/>
    </resultMap>

    <resultMap id="categoryMap"
               type="org.scoula.feed.domain.CategoryVO">
        <id column="spending_category_id"
            property="spendingCategoryId"/>
        <result column="category_name"
                property="categoryName"/>
    </resultMap>

    <resultMap id="statMap"
               type="org.scoula.feed.domain.FeedStatVO">
        <result column="comment_count" property="commentCount"/>
    </resultMap>

    <resultMap id="feedImagesMap" type="org.scoula.feed.domain.FeedImageVO">
        <id column="image_id" property="imageId"/>
        <result column="image_name" property="imageName"/>
    </resultMap>

    <resultMap id="feedMap" type="org.scoula.feed.domain.FeedVO">
        <id column="feed_id" property="feedId"/>
        <result column="user_id" property="userId"/>
        <result column="target_id" property="targetId"/>
        <result column="feed_type" property="feedType"/>
        <result column="content" property="content"/>
        <result column="visibility" property="visibility"/>

        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <association property="transaction" resultMap="transactionMap"/>

        <association property="sender" resultMap="senderProfileMap"/>
        <association property="stat" resultMap="statMap"/>

        <collection property="images" resultMap="feedImagesMap"/>
    </resultMap>


    <select id="getList" resultMap="feedMap">
        SELECT
            a.feed_id,
            a.user_id,
            a.target_id,
            a.feed_type,
            a.content,
            a.visibility,
            a.created_at,
            a.updated_at,

            (
                SELECT COUNT(*)
                FROM feed_comment_tbl fc
                WHERE fc.feed_id = a.feed_id
            ) AS comment_count,

            b.image_id,
            b.image_name,

            d.profile_id AS sender_profile_id,
            d.nickname AS sender_nickname,
            d.stored_name AS sender_profile_image

        FROM feed_tbl a

                 LEFT JOIN feed_image_tbl b
                           ON a.feed_id = b.feed_id
                 LEFT JOIN profile_tbl d
                           ON a.user_id = d.user_id
                 LEFT JOIN friend_tbl e
                           ON a.user_id = e.friend_user_id
                               AND e.user_id = #{userId}
        WHERE
            a.feed_status = 'ACTIVE'
          AND
            (
                a.visibility = 'PUBLIC'
                    OR (e.user_id IS NOT NULL AND a.visibility = 'FRIEND')
                    OR a.user_id = #{userId}
                )
        AND(a.visibility != 'PRIVATE')
        ORDER BY a.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getMyList"  resultMap="feedMap">
        SELECT
            a.feed_id,
            a.user_id,
            a.target_id,
            a.feed_type,
            a.content,
            a.visibility,
            a.created_at,
            a.updated_at,

            (
                SELECT COUNT(*)
                FROM feed_comment_tbl fc
                WHERE fc.feed_id = a.feed_id
            ) AS comment_count,

            b.image_id,
            b.image_name,

            d.profile_id AS sender_profile_id,
            d.nickname AS sender_nickname,
            d.stored_name AS sender_profile_image

        FROM feed_tbl a

                 LEFT JOIN feed_image_tbl b
                           ON a.feed_id = b.feed_id

                 LEFT JOIN profile_tbl d
                           ON a.user_id = d.user_id

        WHERE a.user_id = #{userId}
        and a.feed_status IN ('ACTIVE')
        ORDER BY a.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="geMemberList" resultMap="feedMap">

            SELECT
                a.feed_id,
                a.user_id,
                a.target_id,
                a.feed_type,
                a.content,
                a.visibility,
                a.created_at,
                a.updated_at,

                (
                    SELECT COUNT(*)
                    FROM feed_comment_tbl fc
                    WHERE fc.feed_id = a.feed_id
                ) AS comment_count,

                b.image_id,
                b.image_name,

                d.profile_id AS sender_profile_id,
                d.nickname AS sender_nickname,
                d.stored_name AS sender_profile_image

            FROM feed_tbl a

                     LEFT JOIN feed_image_tbl b
                               ON a.feed_id = b.feed_id

                     LEFT JOIN profile_tbl d
                               ON a.user_id = d.user_id

            WHERE
                a.feed_status = 'ACTIVE'
              AND a.user_id = #{memberUserId}

              AND (
                a.visibility = 'PUBLIC'

                    OR (
                    a.visibility = 'FRIEND'
                        AND EXISTS (
                        SELECT 1
                        FROM friend_tbl e
                        WHERE
                            (
                                e.user_id = #{userId}
                                    AND e.friend_user_id = #{memberUserId}
                                )
                           OR (
                            e.user_id = #{memberUserId}
                                AND e.friend_user_id = #{userId}
                            )
                    )
                    )
                )

            ORDER BY a.created_at DESC

            LIMIT #{size} OFFSET #{offset}


    </select>


    <select id="getFriendList"  resultMap="feedMap">
        SELECT
            a.feed_id,
            a.user_id,
            a.target_id,
            a.feed_type,
            a.content,
            a.visibility,
            a.created_at,
            a.updated_at,

            (
                SELECT COUNT(*)
                FROM feed_comment_tbl fc
                WHERE fc.feed_id = a.feed_id
            ) AS comment_count,

            b.image_id,
            b.image_name,

            d.profile_id AS sender_profile_id,
            d.nickname AS sender_nickname,
            d.stored_name AS sender_profile_image

        FROM feed_tbl a
                 LEFT JOIN feed_image_tbl b
                     ON a.feed_id = b.feed_id
                 LEFT JOIN profile_tbl d
                     ON a.user_id = d.user_id
                 JOIN friend_tbl fr
                      ON a.user_id = fr.friend_user_id
        WHERE fr.user_id = #{userId}
          AND a.visibility IN ('PUBLIC','FRIEND')
          and  a.feed_status IN ('ACTIVE')
        ORDER BY a.created_at DESC;

    </select>


    <delete id="delete">
        update feed_tbl set feed_status = 'DELETED',
                            updated_at = now()
                        where feed_id = #{feedId};
    </delete>
    <delete id="deleteImage">
        delete from feed_image_tbl where image_id = #{imageId}
    </delete>

    <insert id="createFeedImage">
        insert into feed_image_tbl(image_id, feed_id, image_name)
        values(#{imageId}, #{feedId}, #{imageName})
    </insert>


    <select id="getImage" resultType="org.scoula.feed.domain.FeedImageVO">
        select * from feed_image_tbl where image_id = #{imageId};
    </select>

    <select id="getImages" resultType="org.scoula.feed.domain.FeedImageVO">
        select * from feed_image_tbl where feed_id = #{feedId}
    </select>


    <resultMap id="feedCommonMap" type="org.scoula.feed.domain.FeedVO">
        <id column="feed_id" property="feedId"/>
        <result column="user_id" property="userId"/>
        <result column="target_id" property="targetId"/>
        <result column="feed_type" property="feedType"/>
        <result column="content" property="content"/>
        <result column="visibility" property="visibility"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

        <association property="sender" resultMap="senderProfileMap"/>
        <association property="stat" resultMap="statMap"/>
        <collection property="images" resultMap="feedImagesMap"/>
    </resultMap>


    <!--공통조회-->
    <select id="getFeedCommon" resultMap="feedCommonMap">

        SELECT
            a.feed_id,
            a.user_id,
            a.target_id,
            a.feed_type,
            a.content,
            a.visibility,
            a.created_at,
            a.updated_at,

            (
                SELECT COUNT(*)
                FROM feed_comment_tbl fc
                WHERE fc.feed_id = a.feed_id
            ) AS comment_count,

            b.image_id,
            b.image_name,

            d.profile_id AS sender_profile_id,
            d.nickname AS sender_nickname,
            d.stored_name AS sender_profile_image

        FROM feed_tbl a

                 LEFT JOIN feed_image_tbl b
                           ON a.feed_id = b.feed_id

                 LEFT JOIN profile_tbl d
                           ON a.user_id = d.user_id

        WHERE a.feed_id = #{feedId} and a.feed_status != 'DELETED'

        ORDER BY a.created_at DESC;

    </select>
    <select id="getTransaction" resultMap="transactionMap">
        SELECT
            a.transaction_id,
            a.receive_id,
            a.spending_category_id,
            a.merchant_name,
            a.transaction_type,

            b.profile_id AS receiver_profile_id,
            b.nickname AS receiver_nickname,
            b.stored_name AS receiver_profile_image,

            c.spending_category_id,
            c.category_name

        FROM financial_transaction_tbl a
                 LEFT JOIN profile_tbl b
                      on a.receive_id = b.user_id
                 LEFT JOIN spending_category_tbl c
                      on a.spending_category_id = c.spending_category_id
        WHERE transaction_id = #{targetId}
    </select>

    <select id="getCard" resultType="org.scoula.feed.domain.CardVO">
        SELECT
            a.custom_card_id,
            b.custom_card_image_name as cardImageName
        FROM custom_card_tbl a join custom_card_image_tbl b
        on a.custom_card_id = b.custom_card_id
        WHERE a.custom_card_id = #{targetId}
    </select>
    <select id="getAnalysis" resultType="org.scoula.feed.domain.AnalysisVO">
        SELECT
            a.spending_analysis_id,
            a.ai_title,
            a.ai_analysis_summary,
            b.category_name
        FROM spending_analysis_tbl a
        left join spending_category_tbl b on a.representative_category_id = b.spending_category_id
        WHERE spending_analysis_id = #{targetId}

    </select>
    <select id="getEvent" resultType="org.scoula.feed.domain.EventVO">
        SELECT
            a.recv_id as receiveId,
            a.event_id,
            a.reward_id,
            b.reward_point,
            c.event_img_name as eventImageName,
            c.event_name
        FROM event_reward_receive_tbl a
                 join event_reward_tbl b
                      on a.reward_id = b.reward_id
        join event_tbl c
            on a.event_id = c.event_id
        WHERE a.recv_id = #{targetId}
    </select>


</mapper>