<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.analysis.mapper.AnalysisMapper">

    <!--
        소비 분석 가능 여부 계산을 위한 거래 건수 조회

        대상 조건:
        1. 현재 사용자 거래
        2. 결제 거래만 포함
        3. 성공한 거래만 포함
        4. 선택 기간 안에 생성된 거래만 포함
    -->
<!--   case문이 좀 비효율적이게 보이긴한데, 해봤자 몇십건인데 굳이 튜닝까지는 필요 없을듯?
   아니 12개월에 한 1000건쯤 되면 함수 검증에서, 좀 문제 있을 수도?
   개발하다 시간남으면 이부분은 좀 만져봐야겠네
   mysql에서는 함수가 어떻게 작동할지도 모르겠고. -->
    <select id="selectAnalysisCount"
            resultType="org.scoula.analysis.domain.AnalysisCountVO">

        SELECT
            COUNT(*) AS total_payment_count,
            COALESCE(SUM(CASE WHEN spending_category_id IS NOT NULL
                THEN 1
                ELSE 0
                END),0) AS classified_payment_count


        FROM financial_transaction_tbl
        WHERE user_id = #{userId}
          AND transaction_type = 'PAYMENT'
          AND transaction_status = 'SUCCESS'
          AND created_at <![CDATA[ >= ]]> #{startAt}
          AND created_at <![CDATA[ < ]]> #{endAt}

    </select>

<!--    미분류 거래내역 조회-->
    <select id="selectUnclassifiedTransactions"
            resultType="org.scoula.analysis.domain.UnclassifiedTransactionVO">

        SELECT
            transaction_id AS transactionId,
            merchant_name AS merchantName,
            amount,
            created_at AS createdAt

        FROM financial_transaction_tbl

        WHERE user_id = #{userId}
          AND transaction_type = 'PAYMENT'
          AND transaction_status = 'SUCCESS'
          AND spending_category_id IS NULL
          AND created_at <![CDATA[ >= ]]> #{startAt}
          AND created_at <![CDATA[ < ]]> #{endAt}

        ORDER BY created_at DESC, transaction_id DESC

    </select>

<!--    카테고리 전체 조회-->
    <select id="selectSpendingCategories"
            resultType="org.scoula.analysis.domain.SpendingCategoryVO">

        SELECT
            spending_category_id AS spendingCategoryId,
            category_name AS categoryName,
            parent_category_id AS parentCategoryId
        FROM spending_category_tbl
        ORDER BY
            CASE
                WHEN parent_category_id IS NULL
                    THEN spending_category_id
                ELSE parent_category_id
                END,
            parent_category_id IS NOT NULL,
            spending_category_id

    </select>

<!--    카테고리 단건 조회-->
    <select id="selectSpendingCategoryById"
            resultType="org.scoula.analysis.domain.SpendingCategoryVO">

        SELECT
            spending_category_id AS spendingCategoryId,
            category_name AS categoryName,
            parent_category_id AS parentCategoryId
        FROM spending_category_tbl
        WHERE spending_category_id = #{spendingCategoryId}

    </select>
<!--    거래 카테고리 수정 하기-->
    <update id="updateTransactionCategory">

        UPDATE financial_transaction_tbl

        SET spending_category_id = #{spendingCategoryId}

        WHERE transaction_id = #{transactionId}
          AND user_id = #{userId}
          AND transaction_type = 'PAYMENT'
          AND transaction_status = 'SUCCESS'

    </update>

<!--  특정유저의 카테고리별 소비 집계 SQL
 self 조인 사용 +이부분은 추후 다시 SQL 뜯어 봐야한다.  -->

    <select id="selectAnalysisCategoryAggregates"
            resultType="org.scoula.analysis.domain.AnalysisCategoryAggregateVO">

        -- COALESCE: 앞이 null이면, 뒤에것 실행
        SELECT
            COALESCE(
                    parent_category.spending_category_id,
                    category.spending_category_id
            ) AS spendingCategoryId, -- 하위 카테고리를 선택하기 위한 용도

            COALESCE(
                    parent_category.category_name,
                    category.category_name
            ) AS categoryName, -- 하위 카테고리를 선택하기 위한 용도

            SUM(ft.amount) AS spendingAmount, -- 카테고리 별 최종 금액 합계
            COUNT(*) AS transactionCount  -- 총 거래 건수

        FROM financial_transaction_tbl ft

                 INNER JOIN spending_category_tbl category
                            ON ft.spending_category_id
                                = category.spending_category_id

                 LEFT JOIN spending_category_tbl parent_category
                           ON category.parent_category_id
                               = parent_category.spending_category_id

        WHERE ft.user_id = #{userId}
          AND ft.transaction_type = 'PAYMENT'
          AND ft.transaction_status = 'SUCCESS'
          AND ft.spending_category_id IS NOT NULL
          AND ft.created_at <![CDATA[ >= ]]> #{startAt}
          AND ft.created_at <![CDATA[ < ]]> #{endAt}

        GROUP BY
            COALESCE(
                    parent_category.spending_category_id,
                    category.spending_category_id
            ),
            COALESCE(
                    parent_category.category_name,
                    category.category_name
            )

        ORDER BY
            spendingAmount DESC,
            transactionCount DESC,
            spendingCategoryId ASC

    </select>

<!--   분석 테이블에 분석 결과와 AI가 만든 칭호를 삽입한다.   -->
    <insert id="insertSpendingAnalysis"
            parameterType="org.scoula.analysis.domain.SpendingAnalysisVO"
            useGeneratedKeys="true"
            keyProperty="spendingAnalysisId"
            keyColumn="spending_analysis_id">

        INSERT INTO spending_analysis_tbl (
            user_id,
            analysis_period, -- AI분석기간
            representative_category_id, -- 가장 소비비중이 큰 카테고리
            ai_title, -- AI가 설정한 별명
            ai_analysis_summary -- AI의 소비분석 결과 요약
        )
        VALUES (
                   #{userId},
                   #{analysisPeriod},
                   #{representativeCategoryId},
                   #{aiTitle},
                   #{aiAnalysisSummary}
               )

    </insert>

<!--   카테고리별 분석결과 저장  -->
    <insert id="insertSpendingAnalysisCategories">

        INSERT INTO spending_analysis_category_tbl (
        spending_analysis_id,
        spending_category_id, -- 어떤 소비 카테고리의 결과인지 확인
        spending_amount, -- 해당 카테고리에서 사용한 총 금액
        spending_ratio, -- 전체 중 해당 카테고리가 차지하는 비율
        transaction_count -- 해당 카테고리 결제 건수
        )
        VALUES
        -- 한번에 다중 insert할 수 있는 구문이다.
        <foreach collection="categories"
                 item="category"
                 separator=",">

            (
            #{category.spendingAnalysisId},
            #{category.spendingCategoryId},
            #{category.spendingAmount},
            #{category.spendingRatio},
            #{category.transactionCount}
            )

        </foreach>

    </insert>




</mapper>