<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.profile.mapper.ProfileMapper">

    <select id="get" resultType="org.scoula.profile.domain.ProfileVO">

        select profile_id,
               user_id,
               nickname,
               introduction,
               stored_name as imageName

        from profile_tbl where user_id = #{userId};

    </select>
</mapper>