<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.event.mapper.EventMapper">
<!--    이벤트 챌린지 -->
    <resultMap id="eventChallengeMap" type="org.scoula.event.domain.EventChallengeVO">
        <id property="challengeId" column="challengeId"/>
        <result property="challengeName" column="challengeName"/>
        <result property="rewardPoint" column="rewardPoint"/>
        <result property="maxLevel" column="maxLevel"/>
        <result property="maxTarget" column="maxTarget"/>
        <result property="startAt" column="startAt"/>
        <result property="endAt" column="endAt"/>
        <result property="createdAt" column="createdAt"/>
    </resultMap>

<!--    이벤트 챌린지 - 사용자 참여-->
    <resultMap id="userChallengeMap" type="org.scoula.event.domain.EventChallengeUserVO">
        <id property="userChallengeId" column="userChallengeId"/>
        <result property="userId" column="userId"/>
        <result property="challengeId" column="challengeId"/>
        <result property="currentLevel" column="currentLevel"/>
        <result property="currentTarget" column="currentTarget"/>
        <result property="status" column="status"/>
        <result property="updatedAt" column="updatedAt"/>
    </resultMap>

<!--    이벤트 -->
    <resultMap id="eventMap" type="org.scoula.event.domain.EventVO">
        <id property="eventId" column="eventId"/>
        <result property="eventName" column="eventName"/>
        <result property="eventDesc" column="eventDesc"/>
        <result property="eventTarget" column="eventTarget"/>
        <result property="eventLevel" column="eventLevel"/>
        <result property="eventDailyLimitCount" column="eventDailyLimitCount"/>
        <result property="startAt" column="startAt"/>
        <result property="endAt" column="endAt"/>
        <result property="createdAt" column="createdAt"/>
    </resultMap>

<!--    이벤트 리워드 -->
    <resultMap id="eventRewardMap" type="org.scoula.event.domain.EventRewardVO">
        <id property="rewardId" column="rewardId"/>
        <result property="eventId" column="eventId"/>
        <result property="eventLevel" column="eventLevel"/>
        <result property="reqCount" column="reqCount"/>
        <result property="rewardPoint" column="rewardPoint"/>
    </resultMap>

<!--    이벤트 참여 -->
    <resultMap id="eventResponseMap" type="org.scoula.event.dto.EventResponseDTO">
        <id property="eventId" column="eventId"/>
        <result property="eventName" column="eventName"/>
        <result property="eventDesc" column="eventDesc"/>
        <result property="eventType" column="eventType"/>
        <result property="eventImgName" column="eventImgName"/>
        <result property="eventDailyLimitCount" column="dailyLimitCount"/>
        <result property="endAt" column="endAt"/>
        <result property="currentLevel" column="currentLevel"/>
        <result property="partCount" column="partCount"/>
        <result property="reqCount" column="reqCount"/>
        <result property="rewardPoint" column="rewardPoint"/>
        <result property="buttonStatus" column="buttonStatus"/>
        <result property="dDay" column="dDay"/>
        <result property="receivedAt" column="receivedAt"/>
    </resultMap>


    <!--    사용자 포인트 조회 -->
    <select id="getUserPoint" resultType="int">
       SELECT IFNULL(pw.point_balance, 0) AS currentPoint
         FROM user_tbl AS user LEFT OUTER JOIN point_wallet_tbl AS pw ON user.user_id = pw.user_id
        WHERE user.user_id = #{userId}
          AND user.user_status = 'ACTIVE'
        LIMIT 1
    </select>
<!--    사용자 이벤트 챌린지 현황 조회-->
    <select id="getUserChallengeStatus" resultMap="userChallengeMap">
        SELECT IFNULL(ecu.current_level, 1) AS userChallengeLevel
             , IFNULL(ecu.current_target, 0) AS userChallengeExe
             , CASE WHEN ecu.challenge_id IS NULL THEN 1000
                    ELSE ec.max_target
                END AS userChallengeMaxExe
             , DATE_FORMAT(ec.start_date, '%Y-%m-%d %H:%i:%s') AS challengeStartAt
             , DATE_FORMAT(ec.end_date, '%Y-%m-%d %H:%i:%s') AS challengeEndAt
          FROM event_challenge_tbl AS ec LEFT OUTER JOIN event_challenge_user_tbl AS ecu
                                                      ON ec.challenge_id = ecu.challenge_id
                                                     AND ecu.user_id = #{userId}
#          WHERE NOW() BETWEEN ec.start_date AND ec.end_date
      ORDER BY ecu.current_level DESC
         LIMIT 1;
    </select>

    <!-- 참여 가능 이벤트 조회 (사용자 이벤트 참여내역 및 전체 이벤트) -->
    <select id="getActiveEventProgressList" resultMap="eventResponseMap">
        SELECT e.event_id AS eventId
             , e.event_name AS eventName
             , e.event_desc AS eventDesc
             , e.event_type AS eventType
             , e.event_img_name AS eventImgName
             , e.end_at AS endAt
             , IFNULL(e.event_daily_limit_count,0) AS dailyLimitCount
             , IFNULL(e.event_target, 0) AS eventTarget
             , IFNULL(er.event_level, 1) AS currentLevel
             , IFNULL(er.req_count, 0) AS reqCount
             , IFNULL(er.reward_point, 0) AS rewardPoint
             , IFNULL(ep_sub.partcount, 0) AS partCount
             , CASE
                -- 0. [출석] 오늘 아직 출첵 안함
                WHEN e.event_type = 'ATTENDANCE' AND IFNULL(today_att.today_chk, 0) = 0
                    THEN 'ATTENDANCE_READY'
                -- 1. [출석완료] 출석 완료 + 보상 수령
                WHEN e.event_type = 'ATTENDANCE' AND IFNULL(today_att.today_chk, 0) > 0
                    THEN 'ATTENDANCE_COMPLETE'
                -- 2. [수령완료] 보상 수령 완료
                WHEN e.event_type != 'ATTENDANCE' AND err.recv_id IS NOT NULL
                    THEN 'COMPLETE'
                -- 3. [보상받기] 목표 달성은 했으나 리워드 수령 안한 상태
                WHEN e.event_type != 'ATTENDANCE' AND IFNULL(ep_sub.partcount, 0) >= er.req_count AND err.recv_id IS NULL
                    THEN 'REWARD_CLAIM'
                -- 4. [참여완료] 이벤트 참여 완료한 상태, 레벨 목표치 미달성인 경우
                WHEN e.event_type != 'ATTENDANCE' AND IFNULL(ep_sub.partcount, 0) > 0 AND err.recv_id IS NULL
                    THEN 'PROGRESS'
                -- 5. [참여] 참여 내역 없는 최초 상태
                ELSE 'READY'
                END AS buttonStatus
            FROM event_tbl AS e -- 이벤트 참여횟수
                                LEFT JOIN ( SELECT event_id, COUNT(*) AS partcount
                                              FROM (SELECT event_id, user_id FROM event_participation_tbl
                                                    UNION ALL
                                                    SELECT event_id, user_id FROM event_attendance_tbl
                                            ) AS total_part
                                            WHERE user_id = #{userId}
                                         GROUP BY event_id
                                             ) AS ep_sub ON e.event_id = ep_sub.event_id

                                -- 현재 이벤트 진행 정보
                                LEFT JOIN event_reward_tbl AS er
                                       ON e.event_id = er.event_id
                                      AND er.use_yn = 'Y'
                                      AND er.event_level = (SELECT IFNULL(MIN(inner_er.event_level),
                                                           (SELECT MAX(max_er.event_level) FROM event_reward_tbl max_er WHERE max_er.event_id = e.event_id AND max_er.use_yn = 'Y'))
                                                            FROM event_reward_tbl inner_er LEFT JOIN event_reward_receive_tbl inner_err ON inner_er.reward_id = inner_err.reward_id AND inner_err.user_id = #{userId}
                                                            WHERE inner_er.event_id = e.event_id
                                                              AND inner_er.use_yn = 'Y'
                                                              AND inner_err.recv_id IS NULL
                                )

                                -- 매일 출석체크 오늘자 참여 가능 여부
                                LEFT JOIN (SELECT event_id, COUNT(*) AS today_chk
                                             FROM event_attendance_tbl
                                            WHERE user_id = #{userId} AND DATE(participated_at) = CURDATE()
                                         GROUP BY event_id
                                    ) AS today_att ON e.event_id = today_att.event_id

                                -- 리워드 수령이력
                                LEFT JOIN event_reward_receive_tbl AS err
                                       ON er.reward_id = err.reward_id
                                      AND err.user_id = #{userId}
                                      AND ((e.event_type = 'ATTENDANCE' AND DATE(err.received_at) = CURDATE())
                                            OR (e.event_type != 'ATTENDANCE'))
        WHERE e.event_status = 'OPEN'
          AND (NOW() BETWEEN e.start_at AND e.end_at OR e.end_at IS NULL)
#           AND (e.event_type = 'ATTENDANCE' OR err.recv_id IS NULL)
     GROUP BY e.event_id
            , e.event_name
            , e.event_desc
            , e.event_type
            , e.event_img_name
            , e.end_at
            , er.event_level
            , er.req_count
            , er.reward_point
            , ep_sub.partcount
            , err.recv_id
     ORDER BY e.event_id ASC

    </select>

<!--    참여완료 이벤트 조회-->
    <select id="getJoinedEventProgressList" resultMap="eventResponseMap">
        SELECT e.event_id AS eventId
             , e.event_name AS eventName
             , e.event_desc AS eventDesc
             , e.event_type AS eventType
             , e.event_img_name AS eventImgName
             , DATE_FORMAT(err.received_at, '%Y-%m-%d %H:%i:%s') AS endAt
             , IFNULL(er.reward_point,0) AS rewardPoint
             , 'COMPLETE' AS buttonStatus
             , err.received_at AS receivedAt
          FROM event_reward_receive_tbl AS err INNER JOIN event_tbl AS e ON err.event_id = e.event_id
                                                LEFT OUTER JOIN event_reward_tbl AS er ON err.event_id = er.event_id AND err.reward_id = er.reward_id
         WHERE err.user_id = #{userId}
           AND DATE_FORMAT(err.received_at, '%Y-%m') = #{yearMonth}
      ORDER BY err.received_at DESC
    </select>

<!--    이벤트 참여 - 참여이력 데이터 생성 -->
    <insert id="createParticipation">
        INSERT INTO event_participation_tbl (event_id, user_id, participated_at)
        VALUES (#{eventId}, #{userId}, NOW())
    </insert>

<!--    챌린지 참여 - 참여이력 데이터 생성 -->
    <insert id="createEventChallengeParticipation">
        INSERT INTO event_challenge_user_tbl (challenge_id, user_id, updated_at)
        VALUES (#{challengeId}, #{userId}, NOW())
    </insert>

<!--    이벤트 리워드 수령이력 데이터 생성 -->
    <insert id="createEventRewardReceive">
        INSERT INTO event_reward_receive_tbl (event_id, reward_id, user_id, received_at)
        VALUES (#{eventId}, #{rewardId}, #{userId}, NOW())
    </insert>

<!--    챌린지 리워드 수령이력 데이터 생성 -->
    <insert id="createChallengeRewardReceive">
        INSERT INTO event_challenge_user_tbl (user_id, challenge_id, status, updated_at)
        VALUES (#{userId}, #{challengeId}, 'COMPLETE', NOW())
        ON DUPLICATE KEY UPDATE
                             status = 'COMPLETE',
                             updated_at = NOW()
    </insert>

    <!--    포인트(리워드) 수령 처리-->
    <update id="updateUserPoint">
        UPDATE point_wallet_tbl
        SET point_balance = point_balance + #{point},
            updated_at = NOW()
        WHERE user_id = #{userId}
    </update>

    <select id="getEventRewardInfoByEventId" resultType="org.scoula.event.dto.EventResponseDTO">
        SELECT
            er.event_id AS eventId,
            er.reward_id AS rewardId,
            er.reward_point AS rewardPoint,
            er.event_level AS currentLevel
        FROM event_reward_tbl AS er

                 LEFT JOIN (
            SELECT event_id, COUNT(*) AS partcount
            FROM (
                     SELECT event_id, user_id FROM event_participation_tbl
                     UNION ALL
                     SELECT event_id, user_id FROM event_attendance_tbl
                 ) AS total_part
            WHERE user_id = #{userId} AND event_id = #{eventId}
            GROUP BY event_id
        ) AS ep_sub ON er.event_id = ep_sub.event_id

        WHERE er.event_id = #{eventId}
          AND er.use_yn = 'Y'
          AND er.event_level = (
            SELECT IFNULL(MIN(inner_er.event_level), (SELECT MAX(max_er.event_level) FROM event_reward_tbl max_er WHERE max_er.event_id = #{eventId} AND max_er.use_yn = 'Y'))
            FROM event_reward_tbl inner_er
                     LEFT JOIN event_reward_receive_tbl inner_err
                               ON inner_er.reward_id = inner_err.reward_id
                                   AND inner_err.user_id = #{userId}
            WHERE inner_er.event_id = #{eventId}
              AND inner_er.use_yn = 'Y'
              AND inner_err.recv_id IS NULL
        )
        LIMIT 1
    </select>

<!--    사용자 이벤트 챌린지 -->
    <update id="updateUserChallengeTarget">
        UPDATE event_challenge_user_tbl
        SET current_target = current_target + 1,
            updated_at = NOW()
        WHERE user_id = #{userId} AND status = 'PROCESS'
    </update>

<!--  이벤트 - 출석-->
    <select id="getParticipationCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM (
                 SELECT event_id, user_id FROM event_participation_tbl
                 WHERE event_id = #{eventId} AND user_id = #{userId}
                 UNION ALL
                 SELECT event_id, user_id FROM event_attendance_tbl
                 WHERE event_id = #{eventId} AND user_id = #{userId}
             ) AS total_part
    </select>

    <select id="getTodayParticipationCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM (
                 SELECT event_id, user_id FROM event_participation_tbl
                 WHERE event_id = #{eventId} AND user_id = #{userId} AND DATE(participated_at) = CURDATE()
                 UNION ALL
                 SELECT event_id, user_id FROM event_attendance_tbl
                 WHERE event_id = #{eventId} AND user_id = #{userId} AND DATE(participated_at) = CURDATE()
             ) AS today_part
    </select>

    <!--  이벤트 - 출석 데이터 생성 -->
    <insert id="createAttendanceParticipation">
        INSERT INTO event_attendance_tbl (event_id, user_id, participated_at)
        VALUES (#{eventId}, #{userId}, NOW())
    </insert>

    <select id="checkRewardAlreadyReceived" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM event_reward_receive_tbl
        WHERE event_id = #{eventId}
          AND reward_id = #{rewardId}
          AND user_id = #{userId}
    </select>

</mapper>