<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.event.mapper.EventMapper">
<!--    이벤트 챌린지 -->
    <resultMap id="eventChallengeMap" type="org.scoula.event.domain.EventChallengeVO">
        <id property="challengeId" column="challengeId"/>
        <result property="challengeName" column="challengeName"/>
        <result property="rewardPoint" column="rewardPoint"/>
        <result property="maxLevel" column="maxLevel"/>
        <result property="maxTarget" column="maxTarget"/>
        <result property="startAt" column="startAt"/>
        <result property="endAt" column="endAt"/>
        <result property="createdAt" column="createdAt"/>
    </resultMap>

<!--    이벤트 챌린지 - 사용자 참여-->
    <resultMap id="userChallengeMap" type="org.scoula.event.domain.EventChallengeUserVO">
        <id property="userChallengeId" column="userChallengeId"/>
        <result property="userId" column="userId"/>
        <result property="challengeId" column="challengeId"/>
        <result property="challengeLevel" column="challengeLevel"/>
        <result property="challengeExe" column="challengeExe"/>
        <result property="status" column="status"/>
        <result property="updatedAt" column="updatedAt"/>
    </resultMap>

<!--    이벤트 -->
    <resultMap id="eventMap" type="org.scoula.event.domain.EventVO">
        <id property="eventId" column="eventId"/>
        <result property="eventName" column="eventName"/>
        <result property="eventDesc" column="eventDesc"/>
        <result property="eventTarget" column="eventTarget"/>
        <result property="eventLevel" column="eventLevel"/>
        <result property="eventDailyLimitCount" column="eventDailyLimitCount"/>
        <result property="startAt" column="startAt"/>
        <result property="endAt" column="endAt"/>
        <result property="createdAt" column="createdAt"/>
    </resultMap>

    <!--    사용자 포인트 조회 -->
    <select id="getUserPoint" resultType="int">
       SELECT IFNULL(pw.point_balance, 0) AS currentPoint
         FROM user_tbl AS user LEFT OUTER JOIN point_wallet_tbl AS pw ON user.user_id = pw.user_id
        WHERE user.user_id = #{userId}
          AND user.user_status = 'ACTIVE'
        LIMIT 1
    </select>
<!--    사용자 이벤트 챌린지 현황 조회-->
    <select id="getEventChallengeUser" resultType="org.scoula.event.dto.UserChallengeDTO">
        SELECT IFNULL(ecu.current_level, 1) AS challengeLevel
             , IFNULL(ecu.current_target, 0) AS challengeExe
             , CASE WHEN ecu.challenge_id IS NULL THEN 1000
                    ELSE ec.max_target
            END AS challengeMaxExe
             , DATE_FORMAT(ec.start_date, '%Y-%m-%d %H:%i:%s') AS challengeStartAt
             , DATE_FORMAT(ec.end_date, '%Y-%m-%d %H:%i:%s') AS challengeEndAt
        FROM event_challenge_tbl AS ec LEFT OUTER JOIN event_challenge_user_tbl AS ecu
                                                       ON ec.challenge_id = ecu.challenge_id
                                                           AND ecu.user_id = #{userId}
#          WHERE NOW() BETWEEN ec.start_date AND ec.end_date
        ORDER BY ecu.current_level DESC
        LIMIT 1;
    </select>

<!--    이벤트 참여이력 데이터 생성 -->
    <insert id="createParticipation">
        INSERT INTO event_participation_tbl (event_id, user_id, participated_at)
        VALUES (#{eventId}, #{userId}, NOW())
    </insert>

    <!--  출석체크 이벤트 참여이력 데이터 생성 -->
    <insert id="createAttendanceParticipation">
        INSERT INTO event_attendance_tbl (event_id, user_id, participated_at)
        VALUES (#{eventId}, #{userId}, NOW())
    </insert>

<!--    챌린지 참여 - 참여이력 데이터 생성 -->
    <insert id="createEventChallengeParticipation">
        INSERT INTO event_challenge_user_tbl (challenge_id, user_id, updated_at)
        VALUES (#{challengeId}, #{userId}, NOW())
    </insert>

<!--    이벤트 리워드 수령이력 데이터 생성 -->
    <insert id="createEventRewardReceive">
        INSERT INTO event_reward_receive_tbl (event_id, reward_id, user_id, received_at)
        VALUES (#{eventId}, #{rewardId}, #{userId}, NOW())
    </insert>

<!--    챌린지 리워드 수령이력 데이터 생성 -->
    <insert id="createChallengeRewardReceive">
        INSERT INTO event_challenge_user_tbl (user_id, challenge_id, status, updated_at)
        VALUES (#{userId}, #{challengeId}, 'COMPLETE', NOW())
        ON DUPLICATE KEY UPDATE
                             status = 'COMPLETE',
                             updated_at = NOW()
    </insert>

    <!-- 포인트(리워드) 수령 내역 생성-->
    <update id="createUserPointTransaction">
        INSERT INTO point_transaction_tbl (point_wallet_id,
                                           transaction_type,
                                           point_amount,
                                           reason_type,
                                           created_at)
        VALUES ( #{pointWalletId},
                 #{transactionType},
                 #{pointAmount},
                 #{reasonType},
                 CURRENT_TIMESTAMP)
    </update>

    <!-- 포인트 수령 반영 처리 -->
    <update id="updateUserPoint">
        UPDATE point_wallet_tbl
        SET point_balance = point_balance + #{pointAmount}
        WHERE point_wallet_id = #{pointWalletId}
    </update>

<!--    사용자 이벤트 챌린지 -->
    <update id="updateUserChallengeTarget">
        UPDATE event_challenge_user_tbl
        SET current_target = current_target + 1,
            updated_at = NOW()
        WHERE user_id = #{userId} AND status = 'PROCESS'
    </update>


    <!--  이벤트 - 출석-->
    <select id="getParticipationCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM (
                 SELECT event_id, user_id FROM event_participation_tbl
                 WHERE event_id = #{eventId} AND user_id = #{userId}
                 UNION ALL
                 SELECT event_id, user_id FROM event_attendance_tbl
                 WHERE event_id = #{eventId} AND user_id = #{userId}
             ) AS total_part
    </select>

    <select id="getTodayParticipationCount" resultType="java.lang.Integer">
#         SELECT COUNT(*)
#         FROM (
#                  SELECT event_id, user_id FROM event_participation_tbl
#                  WHERE event_id = #{eventId} AND user_id = #{userId} AND DATE(participated_at) = CURDATE()
#                  UNION ALL
#                  SELECT event_id, user_id FROM event_attendance_tbl
#                  WHERE event_id = #{eventId} AND user_id = #{userId} AND DATE(participated_at) = CURDATE()
#              ) AS today_part
    </select>

    <select id="checkRewardAlreadyReceived" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM event_reward_receive_tbl
        WHERE event_id = #{eventId}
          AND reward_id = #{rewardId}
          AND user_id = #{userId}
    </select>


    <insert id="joinEvent">
        insert event_user_tbl set user_id = #{userId} , event_id = #{eventId};
    </insert>

    <insert id="joinAttendanceEvent">
        insert event_attendance_tbl set user_id = #{userId} , event_id = #{eventId};
    </insert>

<!-- 출석체크 이외 이벤트 조회-->
    <select id="getEvent" resultType="org.scoula.event.domain.EventNormalVO">

        select a.event_id,
               a.event_name,
               a.event_desc,
               a.event_type,
               a.event_status,
               a.event_img_name,
               a.event_target,
               a.event_level,
               a.event_daily_limit_count,
               a.start_at,
               a.end_at,


               b.reward_id,
               b.reward_point,
               b.reward_exe,

               (
                   SELECT COUNT(*)
                   FROM event_participation_tbl ep
                   WHERE ep.user_id = #{userId}
                     AND ep.event_id = a.event_id
               ) AS currentTargetCount,

               (
                   SELECT COUNT(*)
                   FROM event_participation_tbl ep
                   WHERE ep.user_id = #{userId}
                     AND ep.event_id = a.event_id
               ) >= a.event_target AS completed,

            EXISTS (
                       SELECT 1
                       FROM event_reward_receive_tbl err
                       WHERE err.user_id = #{userId}
                         AND err.event_id = a.event_id
                   ) AS rewardReceived,

               EXISTS (
                   SELECT 1
                   FROM event_user_tbl eu
                   WHERE eu.user_id = #{userId}
                     AND eu.event_id = a.event_id
               ) AS joined

               from event_tbl a
            left join event_reward_tbl b
            on a.event_id = b.event_id
            WHERE a.event_type != 'ATTENDANCE'
        ORDER BY a.created_at desc;
    </select>

    <!-- 출석체크 이벤트 조회-->
    <select id="getAttendanceEvent" resultType="org.scoula.event.domain.EventAttendanceVO">
        select a.event_id,
               a.event_name,
               a.event_desc,
               a.event_type,
               a.event_status,
               a.event_img_name,
               a.event_target,
               a.event_level,
               a.event_daily_limit_count,
               a.start_at,
               a.end_at,

               b.reward_id,
               b.reward_point,
               b.reward_exe,

               (a.event_daily_limit_count > 0 AND
                   (
                       SELECT COUNT(*)
                       FROM event_participation_tbl ep
                       WHERE ep.user_id = #{userId}
                         AND ep.event_id = a.event_id
                         AND DATE(ep.participated_at) = CURDATE()
                   ) >= a.event_daily_limit_count
                ) AS isDailyLimitReached,

                 EXISTS (
                    SELECT 1
                    FROM event_attendance_tbl ea
                    WHERE ea.event_id = a.event_id
                      AND ea.user_id = #{userId}
                      AND  DATE(ea.participated_at) = CURDATE()
                ) AS todayAttendanceCompleted,

               (
                   SELECT COUNT(*)
                   FROM event_attendance_tbl ea
                   WHERE ea.user_id = #{userId}
                     AND ea.event_id = a.event_id
               ) AS currentTargetCount,

               (
                   SELECT COUNT(*)
                   FROM event_attendance_tbl ea
                   WHERE ea.user_id = #{userId}
                     AND ea.event_id = a.event_id
               ) >= a.event_target AS completed,

               EXISTS (
                   SELECT 1
                   FROM event_reward_receive_tbl err
                   WHERE err.user_id = #{userId}
                     AND err.event_id = a.event_id
               ) AS rewardReceived


        from event_tbl a
                 left join event_reward_tbl b
                           on a.event_id = b.event_id
        WHERE a.event_type = 'ATTENDANCE'
        ORDER BY a.created_at desc;

    </select>

    <!--    참여완료 이벤트 조회-->
    <select id="getJoinedEventProgressList" resultType="org.scoula.event.domain.EventRewardReceiveVO">
        SELECT e.event_id AS eventId
             , e.event_name AS eventName
             , e.event_desc AS eventDesc
             , e.event_type AS eventType
             , e.event_img_name AS eventImgName
             , er.reward_id AS rewardId
             , err.recv_id AS recvId
             , DATE_FORMAT(err.received_at, '%Y-%m-%d %H:%i:%s') AS receivedAt
             , IFNULL(er.reward_point,0) AS rewardPoint
             , IFNULL(er.reward_exe,0) AS rewardExe
        FROM event_reward_receive_tbl AS err INNER JOIN event_tbl AS e ON err.event_id = e.event_id
                                             LEFT OUTER JOIN event_reward_tbl AS er ON err.event_id = er.event_id AND err.reward_id = er.reward_id
        WHERE err.user_id = #{userId}
          AND e.event_type != 'ATTENDANCE'
          AND DATE_FORMAT(err.received_at, '%Y-%m') = #{yearMonth}
        ORDER BY err.received_at DESC
    </select>

</mapper>