<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.member.mapper.MemberMapper">

    <insert id="insert">
        insert into tbl_member(username, password, email)
        VALUES(#{username} , #{password}, #{email});
    </insert>
    <insert id="insertAuth">
        insert into tbl_member_auth(username, auth)
        VALUES (#{username}, #{auth});
    </insert>
    <update id="update">
        update tbl_member set  email= #{email} , update_date = now()
        where username = #{username};
    </update>
    <update id="updatePassword">
        update tbl_member set password = #{newPassword} , update_date =now()
        where username = #{username};
    </update>


    <resultMap id="memberMap" type="MemberVO">
        <id property="username" column="username"></id>
        <result column="username" property="username"></result>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result property="regDate" column="reg_date"></result>
        <result property="updateDate" column="update_date" ></result>
        <collection property="authList"  resultMap="authMap"></collection>
    </resultMap>

    <resultMap id="authMap" type="AuthVO">
        <result column="username" property="username"></result>
        <result column="auth" property="auth"></result>
    </resultMap>


    <select id="get" resultMap="memberMap">
        SELECT m.username, password, email, reg_date, update_date, auth
        FROM
            tbl_member m
                LEFT OUTER JOIN tbl_member_auth a
                                ON m.username = a.username
        where m.username = #{username}
    </select>
    <select id="findByUsername" resultType="MemberVO">
        select * from tbl_member where username = #{username};
    </select>
</mapper>